body, html {
    margin: 0;
    padding: 0;
    background: #daecf4;
    height: 100%;
    width: 100%;
}

html {
    overflow: hidden;
}

.login-panel {
	width: 550px;
	margin: 0 auto;
	line-height: 3.0rem;
}

.login-panel .row {
	margin-top: 10px;
}

.login-panel .message-box {
	display: none;
}

.logo {
    font-size: 2rem;
}

.left-nav {
    float: left;
    width: 220px;
    border-right: 1px solid #CCC;
    height: 100%;
}
